<div class="container">
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <ng-container formGroupName="contact_information">
      <div class="row">
        <div class="col-12">
          <h3>Contact Information</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>FIRST NAME <small class="text-danger">*</small></label>
          <input type="text" id="name" class="form-control" name="first_name" [appValidation]="submitted" placeholder="Your full name"
            formControlName="first_name">
          <app-validation [submitted]="submitted" name="First Name"
            [control]="addressForm.get(['contact_information', 'first_name'])">
          </app-validation>
        </div>
        <div class="col-6">
          <label>LAST NAME:</label>
          <input type="text" class="form-control" name="lastName" placeholder="Your last name"
            formControlName="last_name">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>EMAIL
            <small class="text-danger">*</small></label>
          <input type="email" id="email" class="form-control" name="email" [appValidation]="submitted" placeholder="Your email"
            formControlName="email">
          <app-validation [submitted]="submitted" name="Email"
            [control]="addressForm.get(['contact_information', 'email'])">
          </app-validation>
        </div>
        <div class="col-6">
          <label>PHONE:</label>
          <input type="text" [textMask]="{mask: mask}" class="form-control" name="phone" placeholder="Your phone"
            formControlName="phone" required>
          <app-validation [submitted]="submitted" name="Phone"
            [control]="addressForm.get(['contact_information', 'phone'])">
          </app-validation>
        </div>
      </div>
    </ng-container>
    <h3>Billing Address</h3>
    <app-address-form [submitted]="submitted" [formGroup]="billingAddress"></app-address-form>
    <h3>Shipping Address</h3>
    <label class="float-right">
      <input type="checkbox" id="isCheckBox" (change)="onChange($event)" />
      Same as billing address?
    </label>
    <app-address-form *ngIf="isShowShipping" [submitted]="submitted" [formGroup]="shippingAddress"></app-address-form>
    <div class="row">
      <label>Internal Notes</label>
      <textarea [cols]="100" [rows]="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary float-right mt-2">SAVE</button>
  </form>
</div>