<div class="container">
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <ng-container formGroupName="contact_information">
      <div class="row">
        <div class="col-12">
          <h3>Contact Information </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>FIRST NAME</label>
          <small class="text-danger">*</small>
          <input type="text" id="name" class="form-control" name="first_name" placeholder="Your full name"
            formControlName="first_name">
          <div
            *ngIf="addressForm.get(['contact_information', 'first_name']).invalid && (addressForm.get(['contact_information', 'first_name']).dirty || addressForm.get(['contact_information', 'first_name']).touched )  || submitted">
            <div *ngIf="addressForm.get(['contact_information', 'first_name']).errors?.required"
              class="alert alert-danger">
              Name is required.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label>LAST NAME:</label>
          <input type="text" class="form-control" name="lastName" placeholder="Your last name"
            formControlName="last_name">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>EMAIL</label>
          <small class="text-danger">*</small>
          <input type="email" class="form-control" name="email" placeholder="Your email" formControlName="email">
          <div
            *ngIf="addressForm.get(['contact_information', 'email']).errors?.required && (addressForm.get(['contact_information', 'email']).dirty || addressForm.get(['contact_information', 'email']).touched || submitted) "
            class="alert alert-danger">
            Email is required.
          </div>
          <div *ngIf="addressForm.get(['contact_information', 'email']).errors?.email" class="alert alert-danger">Please
            enter a valid Email
           </div>
        </div>
        <div class="col-6">
          <label>PHONE:</label>
          <input type="text" [textMask]="{mask: mask}" class="form-control" name="phone" placeholder="Your phone"
            formControlName="phone">
        </div>
      </div>
    </ng-container>
    <h3>Billing Address</h3>
    <app-address-form [submitted]="submitted" [addressValue]="billingAddress"></app-address-form>
    <h3>Shipping Address</h3>
    <label class="float-right">
      <input type="checkbox" id="isCheckBox" (change)="onChange($event)" />
      Same as billing address?
    </label>
    <app-address-form *ngIf="isShowShipping" [submitted]="submitted"
      [addressValue]="shippingAddress"></app-address-form>
    <div class="row">
      <label>Internal Notes</label>
      <textarea [cols]="100" [rows]="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary float-right mt-2">SAVE</button>
  </form>
</div>