<div class="container">
  <form [formGroup]="contactForm">
    <button type="button" class="btn btn-primary float-right" (click)="addContact()">Add Contact</button>
    <div formArrayName="contacts">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab *ngFor="let contactFormGroup of contactFormGroups.controls;let ind = index" [formGroupName]="ind">
          <ng-template ngbTabTitle>
            <i class="fa fa-trash" (click)="removeTab(ind)"></i>
            contact{{ind+1}}
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-12">
                <h3>Contact {{ind+1}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6 ">
                <label>First Name <small>*</small></label>
                <input type="text" class="form-control" formControlName="fname" [appValidation]="formSubmitted">
                <app-validation [submitted]="formSubmitted" name="First Name"
                  [control]="contactForm.get(['contacts', ind, 'fname'])">
                </app-validation>
              </div>
              <div class="col-6">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lname">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label>Email <small>*</small></label>
                <input type="text" class="form-control" formControlName="email" [appValidation]="formSubmitted">
                <app-validation [submitted]="formSubmitted" name="Email"
                  [control]="contactForm.get(['contacts', ind, 'email'])">
                </app-validation>
              </div>
              <div class="col-6">
                <label>Phone</label>
                <input type="text" [textMask]="{mask: mask}" class="form-control" formControlName="phone"
                  [appValidation]="formSubmitted">
                <app-validation [submitted]="formSubmitted" name="Phone"
                  [control]="contactForm.get(['contacts', ind, 'phone'])">
                </app-validation>
              </div>
            </div>
            <div>
              <p></p>
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </form>
</div>