<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p class="navbar-brand">Angular Routing</p>
</nav>
<ol>
  <li><a routerLink="shipping" routerLinkActive="active">Address Form </a></li>
  <li> <a routerLink="contact" routerLinkActive="active">Contact-Form</a></li>
  <li><a routerLink="display" routerLinkActive="active">Book-Listing</a></li>
  <li><a routerLink="custom" routerLinkActive="active">Login-Form</a></li>
  <li><a routerLink="user" routerLinkActive="active">User-Form</a></li>
  <li><a routerLink="employee" routerLinkActive="active">Employee-Form</a></li>
</ol>