<form [formGroup]="employeeForm" (ngSubmit)="submit()">
  <label>Status</label>
  <select formControlName="status" class="form-control" [appValidation]="submitted">
    <option value="true">Active</option>
    <option value="false">Inactive </option>
  </select>
  <app-validation [submitted]="submitted" name="Status" [control]="employeeForm.get('status')">
  </app-validation>
  <label>Employee Name</label>
  <input formControlName="employee_name" id="employee_name" type="text" class="form-control"
    [appValidation]="submitted">
  <app-validation [submitted]="submitted" name="Employee Name" [control]="employeeForm.get('employee_name')">
  </app-validation>
  <label>Employee Experience</label>
  <input formControlName="employee_experiance" id="employee_experiance" type="text" class="form-control"
    [appValidation]="submitted">
  <app-validation [submitted]="submitted" name="Employee Experience"
    [control]="employeeForm.get('employee_experiance')">
  </app-validation>
  <label>Employee Designation</label>
  <input formControlName="employee_designation" id="employee_designation" type="text" class="form-control"
    [appValidation]="submitted">
  <app-validation [submitted]="submitted" name="Employee Designation"
    [control]="employeeForm.get('employee_designation')">
  </app-validation>
    <button type="button" class="btn btn-danger" (click)="closePopup()">Cancel</button>
    <button class="btn btn-primary ml-2" type="submit">{{buttonSubmitName}}</button>
</form>