<form [formGroup]="customForm" (ngSubmit)="submit()">
    <label>Email</label>
    <input formControlName="email" id="email" type="email" class="form-control" [appValidation]="submitted">
    <app-validation [submitted]="submitted" name="Email" [control]="customForm.get('email')">
    </app-validation>

    <label>Username</label>
    <input formControlName="username" id="username" type="text" class="form-control" [appValidation]="submitted">
    <app-validation [submitted]="submitted" name="Username" [control]="customForm.get('username')">
    </app-validation>
    <label>Password</label>

    <input formControlName="password" id="password" type="password" class="form-control" [appValidation]="submitted">
    <app-validation [submitted]="submitted" name="Password" [control]="customForm.get('password')">
    </app-validation>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>